@CHARSET "UTF-8";
div {
	/*border: 1px solid red;*/
		
}



#discussMain {
	width: 100%;
	height: auto;
	overflow: hidden;
	background-color: #D0D0D0;

}
#addPost input[type=button]{
	width: 26%;
	height: 5%;
	margin-top : 2%;
	outline: 0;

	background-color: #B6DDE7;
	
}

.myDiscuss {
	/*border : 1px solid black;*/
	height : 15%;
	margin-top : 2%;

	width: 99%;
	overflow: hidden;

	
	
}
.myDiscuss:hover {
	border : 1px dotted green;
	cursor: pointer;
}



#even  img {
	width: 30%;
	height: 85%;
	
	float: left;
}
#odd  img {
	width: 30%;
	height: 85%;

	float: right;
}
#text {
	overflow: hidden;
	width: 95%;
	height:56%;
	}

#even p{

	float: right;
	margin-top: 10px;
	margin-right: 5px;

	}
#odd p{

	float: left;
	margin-top: 10px;
	margin-right: 5px;
	
	

	}
.bubbleLeft
{
margin-left: 45%;	
position: relative;
width: 50%;
height:70%;
padding: 0px;
background: #699EFF;
background-image: url(../images/blue.png);
border: #699EFF solid 3px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 30px;
}

.bubbleLeft:after
{
content: "";
position: absolute;
top: 30%;
left: -35%;
border-style: solid;
border-width: 1px 82px 13px 0;
border-color: transparent #699EFF;

width: 0;
z-index: 1;
}




.bubbleRight
{
float: left;
position: relative;
width: 50%;
height: 70%;
padding: 0px;
background: #AFE15F;
border: #AFE15F solid 2px;
background-image: url(../images/green.png);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 30px;
}

.bubbleRight:after
{
content: "";
position: absolute;
top: 30%;
right: -38%;
border-style: solid;
border-width: 1px 0 11px 89px;
border-color: transparent #AFE15F ;
display: block;
width: 0;
z-index: 0;
}



	


