body
{

background-color: #D0D0D0;
}
#main
{
background-image:url('../images/paper1.jpg');
color:black;
margin:35px 35px 35px 35px;
background-size:contain;
border-color:#668099;
	font-size:14px;
}
heading { float:left; background:url(../images/content-heading.gif) right top no-repeat; color: #FFFFFF; padding:10px 85px 60px 85; }
p
{
background-color:#668099;
}
#left
{
	float:right;
	width:80%
}