#header {
    width: 100%;
    height: auto;
    background-color: #EDF0F5;
	text-align: center;
}

#float-left {
    float: left;
}

#float-right {
    float: right;
}

#image-logo {
    height: 130px;
    width: auto;
	text-align: center;
}

#left {
    float: left;
    width: 70%;
    height: 80%;
    background-color: #EDF0F5;
}

#right {
    float: right;
    width: 30%;
    height: 80%;
    background-color: #EDF0F5;
}

#text-feild {
    width: 221px;
    color : #747862;
    height:25px;
    border-color: #1D2A5B;
    padding:4px 8px;
    margin-bottom:0px;
}

#submit-button {
    border: 1px solid #3366FF;
    background-color: #3B5998;
    color: rgb(255,255,255);
    font-weight:bold;
    width: auto;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    float: right;
}
#submit-button:hover {
    background-color: #3B5998;
    color: rgb(255,255,255);
    font-weight:bold;
    width: auto;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

#hyperlink {
    color: #232394;
}

#hyperlink:hover {
    color: #232394;
    text-decoration: underline
}

#signup_button {
    width: 140px;
    height: 30px;
    background-color: #005C1F;
    color: rgb(255,255,255);
    font-size: 20px;
    text-align: center;
    border: 1px solid #009900;
    cursor: pointer;
}

.text-label {
    color: #333333;
    float: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 2.3;
    margin-right: 10px;
    text-align: right;
    width: auto;
}

p {
	margin: 0;
	padding: 0;
}

#tabs_wrapper {
    border: 5px hidden;
}

#tabs_content_container {
    border: 5px solid hidden;
}

#tabs {
	list-style: none;
	padding: 5px 0 4px 0;
	margin: 0 0 0 10px;
	font: 18px arial;
}

#tabs li {
	display: inline;
}

#tabs li a {
	border: 1px solid #ccc;
	padding: 4px 6px;
	text-decoration: none;
	background-color: #eeeeee;
	border-bottom: none;
	outline: none;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

#tabs li a:hover {
	background-color: #dddddd;
	padding: 4px 6px;
}

#tabs li.active a {
	border-bottom: 1px solid #fff;
	background-color: #fff;
	padding: 4px 6px 5px 6px;
	border-bottom: none;
}

#tabs li.active a:hover {
	background-color: #eeeeee;
	padding: 4px 6px 5px 6px;
	border-bottom: none;
}

#tabs li a.icon_accept {
	background-image: url(accept.png);
	background-position: 5px;
	background-repeat: no-repeat;
	padding-left: 24px;
}

#tabs li a.icon_accept:hover {
	padding-left: 24px;
}

#tabs_content_container {
	border: 1px solid #ccc;
	border-top: none;
	padding: 10px;
	width: 100%;
}

.tab_content {
	display: none;
}
