.simple_overlay {
 
    /* must be initially hidden */
    display:none;
 
    /* place overlay on top of other elements */
    z-index:10000;
 
    /* styling */
    background-color:#333;
 
    width:700px;
    min-height:400px;
    border:1px solid #666;
 
    /* CSS3 styling for latest browsers */
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}
 
/* close button positioned on upper right corner */
.simple_overlay .close {
    background-image:url("../images/close4.png");
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:40px;
    width:40px;
}
.details {
  position:absolute;
  top:15px;
  right:15px;
  font-size:16px;
  color:#fff;
  width:150px;
  }
 
  .details h3 {
  color:#aba;
  font-size:18px;
  }

 #button1
 {
 float:left;
 }
 #button2
 {
 float:right;
 }
 #main
 {
  <!--border:1px solid black;-->
 }
