@CHARSET "ISO-8859-1";

.shell  { width: 980px; margin: 0 auto; }

.top-nav .shell { position: relative; }
.top-nav { background: #b6dde7; height: 59px;  }
.top-nav ul { list-style: none; list-style-position: outside; font-family: 'Ubuntu', sans-serif; font-size: 16px; text-transform: uppercase; line-height: 58px; font-weight: 700;  }
.top-nav ul li { float: left; padding: 0 0 0 0; border-right: 1px solid #dbeef3;  }
.top-nav ul li.active  { border-right: 0;  }
.top-nav ul li a { color: #239cc5; float: left; padding: 0 34px; text-shadow: rgba(255,255,255,0.8) 0px 1px 0px; }
.top-nav ul li span { float: left; }
.top-nav ul li a:hover,
.top-nav ul li.active a { color: #00719d; text-decoration: none; background: #c8e6ed; }
.top-nav ul li.active a { background: #c8e6ed url(images/active-nav-border.png) no-repeat right 0; }
.top-nav ul li.active span { background: url(../images/active-nav-border.png) no-repeat 0 0; padding-left: 2px; }
.top-nav span.top-nav-shadow { background: url(../images/top-nav-shadow.png) no-repeat 0 0; width: 959px; height: 7px; position: absolute; top: 59px; left: 50%; margin-left: -480px; }
.top-nav a.nav-btn { display: none; }

.cl { font-size: 0; line-height: 0; clear: both; display: block; height: 0; }

#top { position:relative; z-index: 100; }
#top { /*padding: 20px 0 16px; */ height: 101px;  background-color: #FFFFFF; }

#logo { float: left; display: inline; width: 255px; font-size: 0; line-height: 0; }
#logo a { display: block; height: 101px; text-indent: -4000px; background: url(../images/careerbooklogo.png); }

#search { float: right; display: inline; padding-top: 18px; width: 227px; margin-right: 5px; }
#search .field-holder { float: left; display: inline; width: 196px; height: 25px; background: url(../images/search-field.gif) no-repeat 0 0; padding: 1px; }
#search .field { width: 186px; border: 0; background: none; }
#search .button { float: right; display: inline; width: 25px; height: 25px; font-size: 0; line-height: 0; text-indent: -4000px; }
#search .button { background: url(../images/search-button.gif) no-repeat 0 0; border: 0; }


#userName{ margin-left: 45%; font-family:Calibri, Arial, sans-serif; font-size: 18px; }
.small {  float: right;}

.box { background:#fff url(images/content-divider.gif) 297px top repeat-y; margin-bottom:13px; padding:0 15px 0px 12px; /*height:100%;*/ }

    .awesome, .awesome:visited {

    background: #222  repeat-x;

    display: inline-block;

    padding: 5px 10px 6px;

    color: #fff;
    
  

    text-decoration: none;

    -moz-border-radius: 0px;

    -webkit-border-radius: 0px;

    border-radius:0px;

    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);

    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);

    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);

    border-bottom: 1px solid rgba(0,0,0,0.25);

    position: relative;

    cursor: pointer;

    font-family:Calibri, Arial, sans-serif;

    }
    
    
    .awesome:hover                            { background-color: #111; color: #fff; }

    .awesome:active                            { top: 1px; }

    .small.awesome, .small.awesome:visited             { font-size: 18px;  }

    .awesome, .awesome:visited,
     .magenta.awesome, .magenta.awesome:visited        { background-color: #a9014b; }

    .magenta.awesome:hover                            { background-color: #630030; }

    
